# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Colby Alexander Hoke
# UNC Data Analytics Bootcamp, July 2020
# CC-BY-SA
# --------------------------------------
# INPUT: ../WeatherPy/output_data/clean_cities.csv
# FORMATTED AS: City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date
# 
# DATA: Generates heat maps based on the humidity of the cities provided in the CSV.
#       Finds cities within the set that meet 'ideal' conditions (defined below).
#       Finds the closest hotels to those ideal cities and maps them on the same heat map.
#
# RETURN: Several analyses, detailed below
# --------------------------------------

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv('../WeatherPy/output_data/clean_cities.csv')
cities_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,airai,-8.93,125.41,54.97,98,91,3.67,TL,2020-07-15 19:47:59
1,1,kajaani,64.23,27.73,59.00,82,47,3.36,FI,2020-07-15 19:47:59
2,2,hermanus,-34.42,19.23,41.00,90,20,4.05,ZA,2020-07-15 19:47:59
3,3,port alfred,-33.59,26.89,54.46,41,0,5.17,ZA,2020-07-15 19:48:00
4,4,kaa-khem,51.68,94.73,51.78,66,13,4.83,RU,2020-07-15 19:48:00
...,...,...,...,...,...,...,...,...,...,...
584,629,tukrah,32.53,20.58,76.35,71,0,9.91,LY,2020-07-15 19:45:55
585,631,jacareacanga,-6.22,-57.75,93.99,29,0,3.53,BR,2020-07-15 19:49:02
586,632,tukums,56.97,23.16,62.60,67,36,3.36,LV,2020-07-15 19:49:02
587,633,berlevag,70.86,29.09,51.80,93,75,3.36,NO,2020-07-15 19:43:36
588,634,swan river,52.11,-101.27,65.89,78,54,15.93,CA,2020-07-15 19:49:02

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

# Build the map
# Set center and zoom level
fig = gmaps.figure(map_type='HYBRID',center=(20,0), zoom_level=1.8)
locations = cities_df[['Lat', 'Lng']]
humidity = cities_df['Humidity']

# Build the heat map based on humidity
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=humidity,
    dissipating=False,
    max_intensity=100,
    point_radius = 4)

# Add heat map to map
fig.add_layer(heat_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# Narrow down the DataFrame to find your ideal weather condition.
# A max temperature <= 85 degrees, but >= 70.
# Humidity less <= 70%.
# Less than 10% cloud cover.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.


ideal_cities_df = cities_df.loc[
    (cities_df['Cloudiness'] < 10) & 
    (cities_df['Max Temp'] <= 85) & 
    (cities_df['Max Temp'] >= 70) & 
    (cities_df['Humidity'] <= 70)]
ideal_cities_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
75,82,peniche,39.36,-9.38,82.00,50,0,5.99,PT,2020-07-15 19:48:07
92,101,elko,41.00,-115.50,84.99,10,1,6.93,US,2020-07-15 19:44:33
98,108,san quintin,30.48,-115.95,74.82,61,0,16.75,MX,2020-07-15 19:43:50
116,126,saint anthony,45.02,-93.22,81.00,47,1,6.93,US,2020-07-15 19:45:57
208,228,kasongo-lunda,-6.47,16.82,75.51,42,0,1.16,CD,2020-07-15 19:48:20
213,233,farah,32.50,62.50,78.60,20,0,6.11,AF,2020-07-15 19:44:55
252,277,waddan,29.16,16.14,84.61,31,0,17.81,LY,2020-07-15 19:48:24
253,278,roma,43.21,-75.46,84.20,48,1,4.70,US,2020-07-15 19:43:48
267,293,salym,60.06,71.48,74.97,69,0,8.97,RU,2020-07-15 19:48:26
372,404,nouakchott,18.09,-15.98,77.00,69,0,16.11,MR,2020-07-15 19:48:38
392,428,shieli,44.17,66.75,77.74,27,0,10.98,KZ,2020-07-15 19:48:40
398,435,athens,37.98,23.72,78.01,57,0,6.93,GR,2020-07-15 19:46:28
399,436,muros,42.78,-9.06,70.00,61,0,8.01,ES,2020-07-15 19:48:41
439,478,laguna,38.42,-121.42,82.99,42,1,6.93,US,2020-07-15 19:48:46
447,488,vallenar,-28.57,-70.76,74.44,20,0,6.49,CL,2020-07-15 19:48:47
455,496,burayevo,55.84,55.41,72.68,58,0,9.22,RU,2020-07-15 19:48:48
466,507,alamosa,37.47,-105.87,80.60,21,1,8.05,US,2020-07-15 19:48:49
481,523,aksu,41.12,80.26,75.78,39,0,8.63,CN,2020-07-15 19:48:51
496,539,paita,-5.09,-81.11,75.20,69,6,12.75,PE,2020-07-15 19:48:52
504,547,binzhou,37.37,118.02,76.64,64,0,4.05,CN,2020-07-15 19:48:53
516,559,ofaqim,31.31,34.62,73.99,69,0,4.61,IL,2020-07-15 19:48:54
523,566,hayden,47.77,-116.79,81.00,31,1,6.93,US,2020-07-15 19:45:39
542,585,gat,31.61,34.76,78.01,69,0,5.21,IL,2020-07-15 19:48:57
554,597,iasmos,41.13,25.18,71.01,66,2,3.51,GR,2020-07-15 19:48:59
561,605,sheridan,44.83,-106.92,84.00,14,1,6.93,US,2020-07-15 19:47:56

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# Build a hotel dataframe where we'll store our info
hotel_df = pd.DataFrame(columns=['Hotel Name', 'Lat', 'Lng', 'City', 'Country'])

# We're going to search google maps for hotels
target_search = 'hotel'

print('-------------------------------')
print('****Initiating hotel search****')
print('-------------------------------')

# Iterate throught the ideal cities,
# search by city latitude and longitude,
# and get the closest hotel (within 5km)
for index, row in ideal_cities_df.iterrows():
    
    # Build the location list variable we'll use to search
    lat = row[2]
    lon = row[3]
    loc_list = (f'{lat}, {lon}')
    city = row[1]
    country = row[8]
    
    # Set our parameters for the google api
    params = {
        'location':loc_list,
        'key':g_key,
        'keyword':target_search,
        'radius': 5000}
    
    # Poll the API for results
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    response = requests.get(base_url, params=params)
    hotels_geo = response.json()
    results = hotels_geo['results']
    
    # Go through the results via API to find hotel name and location
    try:
        hotel_name = results[0]['name']
        hotel_lat = hotels_geo['results'][0]['geometry']['location']['lat']
        hotel_lon = hotels_geo['results'][0]['geometry']['location']['lng']
        
        # Store it all in our dataframe
        hotel_df = hotel_df.append({
            'Hotel Name': hotel_name,
            'Lat': hotel_lat,
            'Lng': hotel_lon,
            'City':city,
            'Country':country}, ignore_index=True)
        print(f'{hotel_name} | {hotel_lat}, {hotel_lon}')
    
    # Handle exceptions
    except IndexError:
        print('**No hotel within 5km of city. Dropping.**')

print('-----------------------------')
print('****Hotel search complete****')
print('-----------------------------')

-------------------------------
****Initiating hotel search****
-------------------------------
MH Peniche | 39.357027, -9.363139
**No hotel within 5km of city. Dropping.**
Old Mill Hotel | 30.485077, -115.9772322
Hyatt Centric Downtown Minneapolis | 44.9759249, -93.268833
**No hotel within 5km of city. Dropping.**
**No hotel within 5km of city. Dropping.**
**No hotel within 5km of city. Dropping.**
Wingate By Wyndham Rome | 43.20918650000001, -75.4130325
Gostinitsa V Salyme | 60.0756382, 71.4831075
AZALAÏ HOTEL NOUAKCHOTT (MARHABA ) | 18.0869643, -15.9734264
Hotel Элита | 44.1739288, 66.73040519999999
Hotel Grande Bretagne, a Luxury Collection Hotel, Athens | 37.9764182, 23.7355153
Hotel La Muradana | 42.7776604, -9.0600462
Fairfield Inn & Suites by Marriott Sacramento Elk Grove | 38.4552313, -121.4082384
Hotel Origenes | -28.5659584, -70.80393049999999
Gostnitsa "Tanyp" | 55.8385254, 55.4023627
Holiday Inn Express & Suites Alamosa | 37.480772, -105.906895
Pudong Holiday Hotel | 41.14176, 80.29139599999999
Hotel Náutico de Paita | -5.0839492, -81.11567959999999
Binzhou Hotel | 37.40342, 117.963005
**No hotel within 5km of city. Dropping.**
Triple Play Resort Hotel & Suites | 47.7558314, -116.7885194
Desert Gat | 31.60304309999999, 34.7637262
**No hotel within 5km of city. Dropping.**
Best Western Sheridan Center | 44.804074, -106.956229
-----------------------------
****Hotel search complete****
-----------------------------

In [6]:
# Capitalize city names
hotel_df['City'] = hotel_df['City'].str.capitalize() 
hotel_df

,Hotel Name,Lat,Lng,City,Country
0,MH Peniche,39.357027,-9.363139,Peniche,PT
1,Old Mill Hotel,30.485077,-115.977232,San quintin,MX
2,Hyatt Centric Downtown Minneapolis,44.975925,-93.268833,Saint anthony,US
3,Wingate By Wyndham Rome,43.209187,-75.413032,Roma,US
4,Gostinitsa V Salyme,60.075638,71.483108,Salym,RU
5,AZALAÏ HOTEL NOUAKCHOTT (MARHABA ),18.086964,-15.973426,Nouakchott,MR
6,Hotel Элита,44.173929,66.730405,Shieli,KZ
7,"Hotel Grande Bretagne, a Luxury Collection Hot...",37.976418,23.735515,Athens,GR
8,Hotel La Muradana,42.777660,-9.060046,Muros,ES
9,Fairfield Inn & Suites by Marriott Sacramento ...,38.455231,-121.408238,Laguna,US
10,Hotel Origenes,-28.565958,-70.803930,Vallenar,CL
11,"Gostnitsa ""Tanyp""",55.838525,55.402363,Burayevo,RU
12,Holiday Inn Express & Suites Alamosa,37.480772,-105.906895,Alamosa,US
13,Pudong Holiday Hotel,41.141760,80.291396,Aksu,CN
14,Hotel Náutico de Paita,-5.083949,-81.115680,Paita,PE
15,Binzhou Hotel,37.403420,117.963005,Binzhou,CN
16,Triple Play Resort Hotel & Suites,47.755831,-116.788519,Hayden,US
17,Desert Gat,31.603043,34.763726,Gat,IL
18,Best Western Sheridan Center,44.804074,-106.956229,Sheridan,US

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(
    locations,
    info_box_content=hotel_info,
    display_info_box=True)

# Add layer
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))